@import "flyer-base";
//by chengyang 2017-05-06
.flyer-layout-header {
    background-color: $color-black;
    width: 100%;
    height: $head-height;
    position: fixed;
    top: 0px;
    z-index: 999;
    opacity: .8;
    .flyer-layout {
        &-right {
            float: right;
        }
        &-box {
            width: $max-width;
            margin: 0 auto;
        }
        &-left {
            float: left;
        }
        &-logo {
            line-height: $head-height;
            color: $color-light;
            font-size: $font-size-largest;
        }
        &-version {
            display: inline-block;
            margin-left: 6px;
            font-size: $font-size-base;
        }
    }
}

.flyer-layout-body {
    margin-top: 60px;
    position: relative;
}

.flyer-layout-main {
    width: $max-width;
    margin: 0 auto;
    position: relative;
    &:after {
        content: "";
        clear: both;
    }
}

.flyer-layout-aside {
    position: fixed;
    .flyer-layout {
        &-tree {
            width: $bar-width;
            min-height: 900px;
            padding: 5px 0 20px;
            border-right: 1px solid #eee;
        }
        &-title {
            line-height: 36px;
            border-left: 5px solid $color-brand;
            margin: 15px 0 5px;
            padding: 0 10px;
            background-color: #f2f2f2;
            font-size: $font-size-large;
        }
        &-link {
            display: inline-block;
            vertical-align: top;
            height: 30px;
            cursor: pointer;
            font-size: $font-size-base;
            padding-left: 15px;
            line-height: 30px;
            &:hover {
                color: $color-brand;
            }
            span {
                font-size: $font-size-small;
                color: #bbb;
                padding-left: 5px;
                display: inline-block;
            }
        }
        &-linkActive {
            color: $color-brand;
        }
        &:after {
            content: "";
            clear: both;
        }
    }
}

.flyer-layout-content {
    margin-left: 220px;
    padding: 20px 0 10px 20px;
    box-sizing: border-box;
    min-height: 900px;
    .flyer-layout {
        &-titleBig {
            font-size: 36px;
            padding-bottom: 10px;
            color: #393D49;
            border-bottom: 1px solid #eee;
            width: 100%;
            margin-bottom: 20px;
        }
        &-title {
            width: 100%;
            margin: 20px 0;
            span {
                display: inline-block;
                background-color: #fff;
                margin-left: 20px;
                padding: 0 10px;
                font-size: 22px;
                font-weight: 300;
            }
            div {
                border-top: 1px solid #eee;
                width: 100%;
                margin-top: -14px;
            }
        }
        &-btnBox {
            margin: 36px 0 10px;
            button {
                margin-right: 6px
            }
        }
        &-text {
            position: relative;
            p {
                margin-bottom: 10px;
                line-height: 22px;
            }
        }
    }
}

.flyer-layout-footer {
    padding: 30px 0;
    line-height: 30px;
    text-align: center;
    background-color: #eee;
    color: #666;
    font-weight: 300;
    position: relative;
}


/*color*/

.flyer-layout {
    &-colorBox {
        font-size: 0;
        margin: 14px 0;
        li {
            display: inline-block;
            vertical-align: middle;
            width: 220px;
            margin-left: 20px;
            margin-bottom: 20px;
            padding: 20px 10px;
            color: #fff;
            text-align: center;
            border-radius: 2px;
            line-height: 22px;
            font-size: 14px;
        }
        .one {
            background: $color-blueGreen;
        }
        .two {
            background: $color-green;
        }
        .three {
            background: $bgHead;
        }
        .four {
            background: $color-blue;
        }
        &.two {
            .one {
                background: $color-orange;
            }
            .two {
                background: $color-red;
            }
            .three {
                background: $color-blueLight;
            }
            .four {
                background: $color-black;
            }
        }
        &.three {
            li {
                width: 128px;
                margin-top: 15px;
                margin-left: 0;
                border-radius: 0;
                p {
                    color: #333;
                    margin: 10px 0 0 0;
                }
            }
            .one {
                background: $fb;
            }
            .two {
                background: $f2;
            }
            .three {
                background: $ee;
            }
            .four {
                background: $e2;
            }
            .five {
                background: $dd;
            }
            .six {
                background: $c2;
            }
            .seven {
                background: $f8;
            }
        }
    }
}


/*nav*/

.flyer-layout-text {
    clear: both;
}

.flyer-layout-marginTop10 {
    margin-top: 10px
}

.flyer-layout-content {
    p {
        margin: 10px 0;
    }
}

.flyer-layout-borderBox {
    padding: 20px;
    border: 1px solid $color-border;
    border-radius: 2px;
    margin: 14px 0;
    .flyer-layout-form .flyer-layout-inputBlock {
        margin-left: 110px;
    }
}

.flyer-icons {
    font-size: 28px !important;
    vertical-align: middle;
    margin-right: 10px;
}

.flyer-warning {
    color: #F7B824;
}

.flyer-blue {
    color: #4cabf2;
}

$gray-color:#8c9ba7;
$gray-font-color:#fff;
.flyer-skin-gray {
    .flyer-dialog-title {
        background-color: $gray-color;
        color: $gray-font-color;
    }
    .flyer-dialog-footer {
        border-top: 1px solid $gray-color;
    }
    .flyer-dialog-toolbar {
        opacity: 1;
        color: $gray-font-color;
    }
}

.flyer-skin-default {
    background-color: #fff;
    .flyer-dialog-content {
        padding-right: 30px;
    }
}

.flyer-skin-loadding {
    background-color: #fff;
    .flyer-dialog-content {
        padding-right: 0px !important;
        padding-top: 40px !important;
    }
    .fa-spinner {
        left: 35%;
    }
}

.combox-single-demo {
    >div {
        display: inline-block;
        button {
            line-height: 24px;
            height: 38px;
            vertical-align: 1px;
        }
    }
}

.flyer-demo {
    .flyer-layout-main,
    .flyer-layout-box {
        width: 99% !important;
    }
}

.online-test {
    position: absolute;
    z-index: 1;
    right: -20px;
    top: -2px;
    bottom: 0px;
    left: 220px;
    .code-input {
        width: 49.5%;
        height: 99.5%;
        display: inline-block;
        position: relative;
        textarea {
            background-color: rgb(0, 0, 0);
            color: #8c9ba7;
            height: 100%;
            width: 100%;
            margin: 0px;
            resize: none;
            border: 0px;
            outline: 0px;
            font-size: 14px;
            opacity: .8;
        }
        .flyer-btn-blue {
            position: absolute;
            z-index: 3;
            bottom: 20px;
            right: 20px;
            z-index: 3;
        }
    }
    .code-view {
        width: 49%;
        height: 99.5%;
        display: inline-block;
        padding: 10px;
        box-sizing: border-box;
        iframe {
            width: 100%;
            height: 100%;
            border: 0px;
        }
    }
}


/*index  cy 7.7*/

.flyer-layout {
    &-bgImg {
        width: 100%;
        height: 500px;
        background: url("../../src/img/bg.jpg");
        background-position: center 0;
        color: #fff;
        text-align: center;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            background: rgba(0, 0, 0, 0.7);
            z-index: 1;
            width: 100%;
            height: 100%;
        }
        .flyer-layout-main {
            z-index: 10;
        }
        h1 {
            font-size: 100px;
            display: block;
            padding-top: 156px;
        }
        p {
            font-size: 16px;
            margin: 20px 0;
        }
        .flyer-layout-download {
            .flyer-btn-big {
                font-size: 20px;
                padding: 10px 46px;
                margin: 20px 0;
            }
        }
        .flyer-layout-version {
            span {
                font-size: 14px;
                margin: 0 12px;
                display: inline-block
            }
        }
    }
    &-site {
        overflow: hidden;
        margin: 60px auto;
        li {
            float: left;
            width: 298px;
            height: 150px;
            padding: 30px;
            line-height: 24px;
            margin-left: 30px;
            border: 1px solid $d2;
            text-align: left;
        }
        h6 {
            padding: 0 20px;
            text-align: center;
            width: 100px;
            margin: 0 auto;
            margin-top: -23px;
            background-color: #fff;
            font-size: 20px;
        }
        p {
            margin-top: 24px;
        }
    }
}

.flyer-form {
    .flyer-checkbox {
        margin-right: 4px;
        float: left;
    }
}