@import "flyer-base";
.flyer-date {
    position: absolute;
    z-index: 9;
    width: 240px;
    border: 1px solid $d2;
    font-size: 12px;
    display: none;
    color: #666666;
    background-color: #fff;
    .flyer-date-body {
        margin: 5px;
        border: 1px solid $d2;
        table {
            width: 100%;
            margin: 0px;
            padding: 0px;
        }
        table th,
        table td {
            padding: 5px 5px;
            text-align: center;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        table th {
            background-color: $f6;
            border-bottom: 1px solid $d2;
        }
        table td {
            cursor: pointer;
        }
        table td:hover {
            background-color: $f6;
        }
        td.flyer-today {
            background-color: #eee;
        }
    }
    .flyer-dont-select {
        color: #dedede;
        cursor: not-allowed !important;
    }
    button {
        border: 0px;
        float: left;
        padding: 2px 5px;
        margin-bottom: 0;
        font-size: $font-size-small;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        background-color: $ff;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        outline: 0px;
        min-width: 20px;
    }
    button:hover {
        opacity: .8;
    }
    .flyer-date-footer,
    .flyer-date-header {
        margin: 5px;
    }
    .flyer-date-footer:after,
    .flyer-date-header:after {
        content: "";
        display: block;
        clear: both;
    }
    .flyer-date-time,
    .flyer-date-year {
        float: left;
        border: 1px solid $d2;
    }
    .flyer-date-btn,
    .flyer-date-month {
        float: right;
        border: 1px solid $d2;
    }
    .flyer-date-time {
        padding: 1px 5px;
        user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
        span {
            cursor: pointer;
        }
        label {
            margin-right: 5px;
        }
        .flyer-date-minutes,
        .flyer-date-hours,
        .flyer-date-seconds {
            position: absolute;
            z-index: 2;
            background-color: #fff;
            border: 1px solid $d2;
            left: 5px;
            bottom: 27px;
            right: 5px;
            display: none;
            span {
                width: 22px;
                line-height: 22px;
                text-align: center;
                height: 22px;
                cursor: pointer;
                display: block;
                float: left;
                margin: 2px 5px;
            }
            span:hover {
                background-color: $f6;
            }
        }
        .flyer-date-minTool {
            background-color: $f6;
            border-bottom: 1px solid $d2;
            height: 24px;
            text-align: center;
            line-height: 24px;
            span {
                float: right;
                display: block;
            }
        }
        .flyer-minutes span,
        .flyer-seconds span {
            width: 15px;
            line-height: 14px;
            height: 14px;
            margin: 1px 2px;
        }
    }
    .flyer-date-year,
    .flyer-date-month {
        position: relative;
        .prev,
        .next,
        .more {
            position: relative;
        }
        .prev:after,
        .next:after,
        .more:after,
        .next-more:after,
        .prev-more:after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-width: 5px;
            border-style: dashed;
            border-color: transparent;
            overflow: hidden;
            cursor: pointer;
            top: 5px;
        }
        .prev:after {
            border-right-style: solid;
            border-right-color: #666;
            left: 2px;
        }
        .next:after {
            border-left-style: solid;
            border-left-color: #666;
        }
        .more:after {
            border-top-style: solid;
            border-top-color: #666;
            top: 7px;
        }
    }
    .flyer-year,
    .flyer-month {
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        padding: 2px 5px;
        border: 0px;
        float: left;
        user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
        cursor: pointer;
        margin: 0px;
        padding: 2px;
    }
    .flyer-year {
        width: 51px;
    }
    .flyer-month {
        width: 30px;
    }
    .flyer-date-monthMore,
    .flyer-date-yearMore {
        display: none;
        position: absolute;
        z-index: 1;
        border: 1px solid #d2d2d2;
        border-top: 0px;
        background-color: #fff;
        top: 20px;
        left: -1px;
        right: -1px;
        box-sizing: border-box;
        span {
            float: left;
            width: 49.44444%;
            text-align: center;
            padding: 5px;
            box-sizing: border-box;
            cursor: pointer;
        }
        span:hover {
            background-color: $f8;
        }
        .years:after {
            content: "";
            display: block;
            clear: both;
        }
        .year {
            span {
                line-height: 20px;
                font-size: 12px;
            }
        }
        .next-more,
        .prev-more {
            height: 14px;
            background-color: $f6;
            position: relative;
            cursor: pointer;
        }
        .next-more:hover,
        .prev-more:hover {
            opacity: .8;
        }
        .next-more {
            border-top: 1px solid $d2;
        }
        .prev-more {
            border-bottom: 1px solid $d2;
        }
        .next-more:after {
            border-top-style: solid;
            border-top-color: #666;
            left: 45%;
            top: 5px;
        }
        .prev-more:after {
            border-bottom-style: solid;
            border-bottom-color: #666;
            left: 45%;
            top: 0px;
        }
    }
    .flyer-date-show {
        display: block !important;
    }
}