{
    "presets": [
        [
            "env",
            {
                "modules": "commonjs",
                "browser": true
            }
        ],
        "flow"
    ],
    "plugins": [
        "istanbul"
    ]
}