@import './base.scss';
.common{
    cursor: pointer;
    position: relative;
    text-align: center;
    display: inline-block;
    height:100%;
    width:100%;
}
.fly-checkbox {
    @extend .common;
    height: 18px;
    width:18px;
    border:1px solid $main-color;
    input[type="checkbox"] {
        display: none;
    }
    input[type="checkbox"]+i {
        @extend .common;
        background-color: #fff;
        display: none;
    }
    input[type="checkbox"]:checked+i {
        @extend .common;
        background-color: $main-color;
        transition: .1s;
        color:#fff;
    }
}