@import "base.scss";
@mixin clearFix() {
    clear: both;
    content:"";
    display: block;
}
@mixin unfilled(){
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    table-layout: fixed;
}
@mixin table(){
    @include unfilled();
    border-collapse: collapse;
    td,th{
        @include unfilled();
        border-left:1px solid #ccc;
        border-bottom:0px;
        border-top:1px solid #ccc;
        line-height: 24px;
        padding:8px;
        text-align: left;
    }
    td:last-child,th:last-child{
        border-right:1px solid #ccc;
    }
}
.fly-table {
    &-toolbar{
        @include unfilled();
        &::after{
            @include clearFix();
        }
    }
    &-header{
        @include unfilled();
        &::after{
            @include clearFix();
        }
        table{
            @include table()
        }
    }
    &-body{
        @include unfilled();
        &::after{
            @include clearFix();
        }
        table{
            @include table();
            border-bottom:1px solid #ccc;
        }
    }
    &-footer{
        @include clearFix();
    }
    &-empty{
        @include unfilled();
        table{
            @include table();
            border-bottom:1px solid #ccc;
        }
    }
    &-noBorder{
        table {
            td,th{
                border-left:0px;
            }
            td:first-child,th:first-child{
                border-left:1px solid #ccc;
            }
        }
        
    }
}