//定义基色
$primary:#007BFF;
$success:#28A745;
$warning:#FFD836;
$danger:#E72323;
$info:#17A2B8;
$default:#666666;

//调和色
$white:#FFFFFF;

//主要颜色
$fly-primary-color:mixColor($primary,90%);
$fly-primary-active-color:$primary;
$fly-primary-hover-color:mixColor($primary,80%);
$fly-primary-bg-color:mixColor($primary,10%);

//辅助色
$fly-default-color:mixColor($default,10%);
$fly-default-active-color:mixColor($default,15%);
$fly-default-hover-color:mixColor($default,5%);
$fly-default-bg-color:mixColor($default,10%);

$fly-success-color:mixColor($success,90%);
$fly-success-active-color:$success;
$fly-success-hover-color:mixColor($success,80%);
$fly-success-bg-color:mixColor($success,10%);

$fly-info-color:mixColor($info,90%);
$fly-info-active-color:$info;
$fly-info-hover-color:mixColor($info,80%);
$fly-info-bg-color:mixColor($info,10%);

$fly-warning-color:mixColor($warning,90%);
$fly-warning-active-color:$warning;
$fly-warning-hover-color:mixColor($warning,80%);
$fly-warning-bg-color:mixColor($warning,10%);

$fly-danger-color:mixColor($danger,90%);
$fly-danger-active-color:$danger;
$fly-danger-hover-color:mixColor($danger,80%);
$fly-danger-bg-color:mixColor($danger,10%);

//中性色(文本颜色)
$font-color-title:#333333;
$font-color-common:#666666;
$font-color-secondary:#999999;
$font-color-placeholder:#CECECE;


//主要边框颜色
$fly-color-border:#E4EAEC;

//字体大小规格
$fly-font-big-size:20px;
$fly-font-title-size:18px;
$fly-font-mini_title-size:16px;
$fly-font-text-size:14px;
$fly-font-mini_text-size:13px;
$fly-font-assist_text-size:12px;

//通用白色
$fly-common-white:#fff;

//默认圆角大小
$fly-round-default-size:3px;

// 默认内填度
$fly-default-padding:10px;


// 全局背景颜色
$fly-global-background-color:#F7FAFD;
