@import './fly-mixins.scss';

//定义基色
$primary:#007BFF;
$success:#28A745;
$warning:#FFC107;
$danger:#DC3545;
$info:#17A2B8;

//主要颜色
$fly-primary-color:getColor($primary,0.7);
$fly-primary-active-color:getColor($primary,0.8);
$fly-primary-hover-color:getColor($primary,0.5);
$fly-primary-bg-color:getColor($primary,0.1);

//辅助色
$fly-success-color:getColor($success,0.7);
$fly-success-active-color:getColor($success,0.8);
$fly-success-hover-color:getColor($success,0.5);
$fly-success-bg-color:getColor($success,0.1);

$fly-info-color:getColor($info,0.7);
$fly-info-active-color:getColor($info,0.8);
$fly-info-hover-color:getColor($info,0.5);
$fly-info-bg-color:getColor($info,0.1);

$fly-warning-color:getColor($warning,0.7);
$fly-warning-active-color:getColor($warning,0.8);
$fly-warning-hover-color:getColor($warning,0.5);
$fly-warning-bg-color:getColor($warning,0.1);

$fly-danger-color:getColor($danger,0.8);
$fly-info-active-color:getColor($danger,0.8);
$fly-info-hover-color:getColor($danger,0.5);
$fly-info-bg-color:getColor($danger,0.1);

//中性色(文本颜色)
$font-color-title:#263238;
$font-color-common:#37474F;
$font-color-secondary:#263238;
$font-color-placeholder:#A3AFB7;


//主要边框颜色
$fly-border-color:#E4EAEC;

//字体大小规格
$fly-font-big-size:20px;
$fly-font-title-size:18px;
$fly-font-mini_title-size:16px;
$fly-font-text-size:14px;
$fly-font-mini_text-size:13px;
$fly-font-assist_text-size:12px;

//通用白色
$fly-common-white:#fff;

//默认圆角大小
$fly-round-default-size:2px;

// 默认内填度
$fly-default-padding:10px;

