@import './fly-config.scss';
/* BEM start */
// 命名空间与模块之间的分隔符：- 
// 模块与元素之间的分隔符:__
// 模块之间的修饰符:--
// 模块下面的子元素:.名称
@mixin b($block) {
    $B: $namespace + $selector-separate + $block !global;
    .#{$B} {
        @content;
    }
}

@mixin m($modifier) {
    $current-selector: '';
    @each $unit in $modifier {
        $current-selector:#{$current-selector + & + $selector-separate + $unit + ','}
    }
    @at-root #{$current-selector} {
        @content;
    }
}

@mixin has($state){
    @at-root .#{$selector + $namespace}{}
}
/* BEM end */