@import './fly-config.scss';
//BEM start
@mixin b($block) {
    $B: $namespace + $selector-separate + $block !global;
    .#{$B} {
        @content;
    }
}

@mixin e($element) {
    $current-selector: "";
    $selector:'&';
    @each $unit in $element {
        $current-selector:#{$current-selector + $selector + $element-separate + $unit + ','};
    }
    @at-root #{$current-selector} {
        @content;
    }
}

@mixin m($modifier) {
    $current-selector: "";
    $selector:'&';
    @each $unit in $modifier {
        $current-selector:#{$current-selector + $selector + $modifier-separate + $unit + ','};
    }
    @at-root #{$current-selector} {
        @content;
    }
}

@mixin when($state) {
    @at-root &.#{$state-prefix+$state} {
        @content;
    }
}

// BEM end