@keyframes loop{
    0%{transform: rotate(360deg)}
    100%{transform: rotate(0deg)}
}
[class^="fly-icon-"], [class*=" fly-icon-"] {
    display:inline-block;
    vertical-align:baseline;
    font-weight: 400;
    font-size: 16px;
}
.fly-icon-loader{
    animation:loop 1.5s linear infinite;
}