@import './fly-config.scss';
//BEM start
@mixin b($block) {
    $B: $namespace + $selector-separate + $block !global;
    .#{$B} {
        @content;
    }
}

@mixin e($element) {
    $current-selector: '';
    @each $unit in $element {
        $current-selector:#{$current-selector + & + $element-separate + $unit + ','}
    }
    @at-root #{$current-selector} {
        @content;
    }
}

@mixin m($modifier) {
    $current-selector: '';
    @each $unit in $modifier {
        $current-selector:#{$current-selector + & + $modifier-separate + $unit + ','}
    }
    @at-root #{$current-selector} {
        @content;
    }
}

@mixin has($state) {
    @at-root &.#{$property-prefix+$state} {
        @content;
    }
}

// BEM end