@import "./base/index.scss";
@include b('drawer'){
    position:relative;
    @include e('mask'){
        position:fixed;
        top:rem(0px);
        left:rem(0px);
        right:rem(0px);
        bottom:rem(0px);
        background: rgba($font-color-common,0.5);  
        z-index:9998;
    }
    @include e('header'){
        position:relative;
        padding:rem(15px) rem(20px);
        box-sizing:border-box;
        box-shadow:rem(1px) rem(1px) rem(1px) rgba($fly-color-border,0.5);
    }
    @include e('body'){
        padding:rem(15px) rem(20px);
    }
    @include e('footer'){
        padding:rem(15px) rem(20px);
        position: fixed;
        bottom:0px;
        left:0px;
        right:0px;
    }
    @include e('close'){
        position:absolute;
        z-index: 1;
        top:rem(15px);
        right:rem(20px);
        cursor: default;
        border-radius: 100%;
        cursor: pointer;
        &:hover{
            background-color:rgba($fly-color-border,1)
        }
    }
    @include e('content'){
        box-shadow:rem(1px) rem(1px) 10px rgba($fly-color-border,0.5);
        position:fixed;
        top:rem(0px);
        right:rem(0px);
        z-index:9999;
        bottom:rem(0px);
        background: #fff;
        min-width:rem(300px);
    }
}