
@import "./base/index.scss";
$fly-tab-nav-padding:rem(10px);
$fly-tab-nav-lineHeight:rem(24px);
$fly-bottom-border-size:rem(2px);

@include b('tabs'){
    position: relative;
    box-sizing: border-box;
    @include e('navs'){
        position: relative;
        box-sizing: border-box;
        display:flex;
        border-bottom:$fly-bottom-border-size solid $fly-color-border;
        padding-right:rem(20px);
    }
    @include e('content'){
        position: relative;
    }
    @include e('pane'){
        position: relative;
        padding:$fly-tab-nav-padding;
        display:none;
        @include state('active'){
            display: block;
        }
    }
    @include e('nav'){
        position: relative;
        height: calc(#{$fly-tab-nav-padding}* 2 + #{$fly-tab-nav-lineHeight});
        padding:$fly-tab-nav-padding;
        margin-bottom:-$fly-bottom-border-size;
        box-sizing: border-box;
        cursor: pointer;
        line-height: $fly-tab-nav-lineHeight - $fly-bottom-border-size;
        @include state('active'){
            color:$fly-primary-color;
            border-bottom:$fly-bottom-border-size solid $fly-primary-color;
        }
        @include state('closable'){
            padding-right:rem(24px);
        }
        @include state('disabled'){
            color:$fly-color-border;
            cursor:not-allowed;
        }
        &:hover{
            .fly-tabs__close{
                display: inline-block !important;
            }
            border-bottom:$fly-bottom-border-size solid $fly-primary-color;
        }
    }
    @include e('more-icon'){
        position:absolute;
        z-index:1;
        right:rem(0px);
        top:rem(10px);
        cursor:pointer;
    }
    @include e('more'){
        padding:rem(5px) rem(0px);
        background-color:$fly-common-white;
        box-shadow:rem(1px) rem(1px) rem(10px) rgba($fly-color-border,0.5);
        min-width:rem(100px);
        max-height:rem(400px);
        overflow-y:auto;
    }
    @include e('close'){
        position: absolute;
        z-index: 1;
        right:rem(5px);
        top:rem(15px);
        font-size:rem(12px) !important;
        width:rem(12px);
        height:rem(12px);
        line-height: rem(12px);
        border-radius: 100%;
        display:none !important;
        cursor: pointer;
        &:hover{
            background: rgba($fly-color-border,0.5);
        }
    }
}
