@import './base/fly-common.scss';
@import './base/fly-util.scss';
@import './base/fly-bem.scss';

@include b('alert'){
    position: relative;
    padding:10px;
    border-radius: $fly-round-default-size;
    @include e('close'){
        position: absolute;
        z-index: 1;
        top:$fly-default-padding;
        right:$fly-default-padding;
        border-radius: 100px;
        cursor: pointer;
    }
    @include when('success'){
        background: $fly-success-color;
        color:$fly-success-color;
    }
    @include when('warning'){
        background: $fly-warning-color;
        color:$fly-warning-color;
    }
    @include when('info'){
        background: $fly-info-color;
        color:$fly-info-color;
    }
    @include when('danger'){
        background: $fly-danger-color;
        color:$fly-danger-color;
    }
}