@import "./base/index.scss";
@include b('form'){
  position:relative;
  width:100%;
  @include e('item'){
      position: relative;
      display:flex;
      line-height:rem(40px);
      margin:rem(22px) rem(0px);
      box-sizing: border-box;
  }
  @include e('item-label'){
      width:rem(80px);
  }
  @include e('item-content'){
      width: 100%;
  }
  @include e('item-required'){
      font-style: inherit;
      color:$fly-danger-color;
  }
  @include e('item-error'){
    position: absolute;
    bottom: rem(-16px);
    line-height:1;
    font-size: rem(12px);
    color:$fly-danger-color;
  }
}