@import "./base/index.scss";

@include b('input-number'){
    position: relative;
    display:inline-flex;
    border-radius: $fly-round-default-size;
    @include e('native'){
        outline: none;
        width:rem(100px);
        padding:rem(10px) rem(20px) rem(10px) rem(10px);
        border:rem(1px) solid $fly-color-border;
        box-sizing: border-box;
        height:rem(40px);
        border-radius: $fly-round-default-size;
        @include state('disabled'){
            background: rgba($fly-color-border,0.5);
            cursor:not-allowed;
        }
    }
    .label-extend{
        cursor: pointer;
        position: absolute;
        right:rem(0px);
        width:rem(20px);
        height:rem(20px);
        box-sizing:border-box;
        border-left:rem(1px) solid $fly-color-border;
        user-select: none;
        line-height:rem(20px);
        &:hover{
            background: $fly-color-border;
        }
        @include state('disabled'){
            background: rgba($fly-color-border,0.5);
            cursor:not-allowed;
        }
    }
    @include e('plus'){
        top:rem(0px);
        @extend .label-extend;
    }
    @include e('minus'){
        @extend .label-extend;
        bottom:rem(0px);
        border-top:rem(1px) solid $fly-color-border;
    }
}