
@import "./base/index.scss";
$fly-tab-nav-padding:10px;
$fly-tab-nav-lineHeight:24px;
$fly-bottom-border-size:2px;

@include b('tabs'){
    position: relative;
    box-sizing: border-box;
    @include e('navs'){
        position: relative;
        box-sizing: border-box;
        border-bottom:$fly-bottom-border-size solid $fly-color-border;
        padding-right:2*$fly-tab-nav-padding;
    }
    @include e('content'){
        position: relative;
    }
    @include e('pane'){
        position: relative;
        padding:$fly-tab-nav-padding;
        display:none;
        @include state('active'){
            display: block;
        }
    }
    @include e('nav'){
        position: relative;
        display: inline-flex;
        height: calc(#{$fly-tab-nav-padding}* 2 + #{$fly-tab-nav-lineHeight});
        padding:$fly-tab-nav-padding;
        margin-bottom:-$fly-bottom-border-size;
        box-sizing: border-box;
        cursor: pointer;
        line-height: $fly-tab-nav-lineHeight - $fly-bottom-border-size;
        @include state('active'){
            color:$fly-primary-color;
            font-weight: 500;
            border-bottom:$fly-bottom-border-size solid $fly-primary-color;
            .fly-tab__close{
                display: inline-block !important;
            }
        }
        @include state('closable'){
            padding-right:24px;
        }
        @include state('disabled'){
            color:$fly-color-border;
            cursor:not-allowed;
        }
        &:hover{
            .fly-tab__close{
                display: inline-block !important;
            }
        }
    }
    @include e('more-icon'){
        position:absolute;
        z-index:1;
        right:0px;
        top:10px;
        cursor:pointer;
    }
    @include e('more'){
        padding:10px;
        background-color:$fly-common-white;
        box-shadow:1px 1px 10px rgba($fly-color-border,0.5);

    }
    @include e('close'){
        position: absolute;
        z-index: 1;
        right:5px;
        top:15px;
        font-size:12px !important;
        width:12px;
        height:12px;
        border-radius: 100%;
        cursor: pointer;
        display:none !important;
        &:hover{
            background: rgba($fly-color-border,0.5);
        }
    }
}
