
@import "./base/index.scss";
@include b('table'){
    display:table;
    box-sizing:border-box;
    background-color:$fly-common-white;
    @include e('th'){
        text-align: left;
        padding:rem(10px);
        box-sizing:border-box;
    }
    @include e('td'){
        text-align: left;
        padding:rem(10px);
        box-sizing:border-box;
    }
    @include e('icon'){
        font-size:rem(12px);
        cursor:pointer;
        @include state('active'){
            color:$primary;
        }
    }
    @include e('empty-text'){
        font-size:rem(12px);
        text-align:center;
        padding:rem(10px);
        box-sizing:border-box;
        line-height: rem(32px);
    }
    .fly-checkbox__label{
        padding-left:rem(0px);
    }
}