@import "./base/index.scss";
@include b('card'){
    position: relative;
    border-radius: $fly-round-default-size;
    padding:rem(10px);
    box-sizing: border-box;
    box-shadow:$fly-default-box-shadow;
    background-color:$fly-common-white;
    @include e('header'){
        border-bottom: rem(1px) solid $fly-color-border;
        padding:$fly-default-padding;
    }
    @include e('body'){
        padding:$fly-default-padding;
    }
    @include e('footer'){
        border-top: rem(1px) solid $fly-color-border;
        padding:$fly-default-padding;
    }
}