
@import "./base/index.scss";
$fly-time-line-size-normal:rem(16px);
$fly-time-line-size-large:rem(20px);
@include b('timeline'){
    position: relative;
    
    @include e('item'){
        position: relative;
        padding:rem(0px) rem(0px) rem(20px) rem(20px);
        border-left: rem(1px) solid $fly-color-border;
        &:last-child{
            border-left:rem(0px);
        }
        
    }
    @include e('dot'){
        position: absolute;
        z-index: 1;
        border-radius:100%;
        color:#fff;
        text-align: center;
        display:flex;
        align-items:center;
        @include state('default'){
            background:rgba($fly-color-border,1);
        }
        @include state('primary'){
            background: $fly-primary-color;
        }
        @include state('warning'){
            background: $fly-warning-color;
        }
        @include state('info'){
            background: $fly-info-color;
        }
        @include state('danger'){
            background: $fly-danger-color;
        }
        @include state('success'){
            background: $fly-success-color;
        }

        @include m('normal'){
            left:rem(-8px);
            width:$fly-time-line-size-normal;
            height:$fly-time-line-size-normal;
            i{
                font-size: $fly-time-line-size-normal - 6;
                vertical-align:baseline;
            }
        }
        @include m('large'){
            left:rem(-10px);
            width:$fly-time-line-size-large;
            height:$fly-time-line-size-large;
            i{font-size: $fly-time-line-size-large - 2;}
        }
    }
    @include e('body'){
        
    }
    @include e('timestamp'){
        font-size:rem(12px);
        color:rgba($font-color-common,0.5);
        @include state('top'){
           box-sizing: border-box;
           padding-bottom: rem(5px);
        }
    }
}