
@import "./base/index.scss";
$fly-input-clear-area:16px !default;

@mixin fix-variant($padding,$fontSize){
    padding:$padding;
    i[class^='fly-icon']{
        font-size:$fontSize;
        vertical-align: text-bottom;
    }
}

@mixin native-variant($padding,$fontSize,$borderRadius,$paddingRight,$paddingLeft){
    padding:$padding;
    font-size:$fontSize;
    @include state('round'){
        border-radius:$borderRadius;
    }
    @include state("suffix"){
        padding-right:$paddingRight;
    }
    @include state("prefix"){
        padding-left:$paddingLeft;
    }
}

@include b('input'){
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    font-size:$fly-font-text-size;
    @include e('native'){
        outline: none;
        border:1px solid $fly-color-border;
        border-radius: $fly-round-default-size;
        box-sizing: border-box;
        &:focus{
            border-color:$fly-primary-color;
        }
        @include state("disabled"){
            color:$font-color-common;
            background: mix($fly-color-border,$white,50%);
            border-color:$font-color-placeholder;
            cursor:not-allowed;
        }
        @include state("prepend"){
            border-top-left-radius:0px;
            border-bottom-left-radius: 0px;
        }
        @include state("append"){
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }
        
        @include m('large'){
            @include native-variant(rem(15px), 
                                    $fly-font-title-size,
                                    rem(24px) ,
                                    rem(46px) , 
                                    rem(46px))
        }
        @include m('medium'){
            @include native-variant($fly-default-padding, 
                                    $fly-font-text-size,
                                    rem(18px) ,
                                    rem(31px) , 
                                    rem(31px))
        }
        @include m('small'){
            @include native-variant(rem(5px), 
                                    $fly-font-assist_text-size,
                                    rem(12px) ,
                                    rem(21px) , 
                                    rem(21px))
        }
    }
    @include e('clear'){
        position: absolute;
        display: block;
        z-index: 1;
        border-radius: 50%;
        width: $fly-input-clear-area;
        height: $fly-input-clear-area;
        right:rem(12px);
        top: rem(12px);
        cursor: pointer;
        font-family: 'fly-icons';
        font-style:inherit;
        color:$font-color-common;
        background-color:$fly-color-border;
        text-align: center;
        opacity: .6;
        pointer-events:all;
        &:hover{
            opacity: 1;
        }
    }
    @include e('prefix'){
        @extend .fix;
        left:0px;
        @include m('small'){
            @include fix-variant(rem(2px) rem(8px),rem(11px))
        }
        @include m('medium'){
            @include fix-variant(rem(10px),rem(18px))
        }
        @include m('large'){
            @include fix-variant(rem(15px),rem(21px))
        }
    }
    @include e('suffix'){
        @extend .fix;
        right:0px;
        @include m('small'){
            @include fix-variant(rem(2px) rem(8px),rem(11px))
        }
        @include m('medium'){
            @include fix-variant(rem(10px),rem(18px))
        }
        @include m('large'){
            @include fix-variant(rem(15px),rem(21px))
        }
    }
    @include e('prepend'){
        @extend .adorn;
    }
    @include e('append'){
        @extend .adorn;
    }

    .fix{
        position: absolute;
        z-index:99;
        top:0px;
        bottom: 0px;
    }
    .adorn{
        background: $fly-color-border;
        padding:$fly-default-padding;
    }
}