@import "./base/index.scss";
@include b('menu'){
    display: flex;
    position: relative;
    line-height: rem(28px);
    @include e('group'){
        display: flex;
        position: relative;
    }
    @include e('item'){
        padding: rem(5px) rem(15px);
        display: inline-block;
        font-weight: inherit;
        white-space: nowrap;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border-bottom:rem(1px) solid transparent;
        cursor: pointer;
        &:hover{
            color:$warning;
            border-bottom:rem(1px) solid $warning;
        }
        @include state('active'){
            color:$warning;
            border-bottom:rem(1px) solid $warning;
        }
        @include state('highlight'){
            font-weight: bold;
        }
        @include state('has-child'){
            &:hover{
                color:inherit;
                border-bottom:rem(1px) solid transparent;
            }
        }
    }
}

@include b('sub-menu'){
    display: flex;
    position: relative;
    @include e('items'){
        display: flex;
        background-color: #fff;
        flex-direction: column;
        box-shadow:rem(1px) rem(1px) rem(10px) rgba($fly-color-border,0.5);
        border-radius: $fly-round-default-size;
        padding:rem(5px);
        position: absolute;
        padding:rem(0px) rem(10px);
        .fly-menu__item{
            border-bottom:rem(1px) solid transparent;
            font-weight: inherit;
            &:hover{
                color:inherit;
                border-bottom:rem(1px) solid $warning;
            }
        }
    }
    .fly-menu__item{
        &:hover{
            color:inherit;
            border-bottom:rem(1px) solid transparent;
        }
    }
    .fly-icon{
        font-size:rem(10px);
    }
}