@import './base/fly-common.scss';
@import './base/fly-util.scss';
@import './base/fly-mixins.scss';

$fly-tab-nav-padding:10px;
$fly-tab-nav-lineHeight:24px;
$fly-bottom-border-size:2px;

@include b('tab'){
    position: relative;

    .icon-pull{
        position: absolute;
        cursor: pointer;
        top:0px;
        user-select: none;
        border-bottom:2px solid $fly-border-color;
        box-sizing: border-box;
        height: calc(#{$fly-tab-nav-padding}* 2 + #{$fly-tab-nav-lineHeight});
        padding:calc((#{$fly-tab-nav-padding} * 2 + #{$fly-tab-nav-lineHeight} - 16px - 2px) / 2) 2px;
    }
    .icon-hover{
        [class^="fly-icon-"], [class*=" fly-icon-"] {
            border-radius: 100%;
            &:hover{
                background: rgba($fly-border-color,0.5);
            }
        }
    }
    .icon-opacity{
        width:$fly-tab-nav-padding;
        background: #fff;
        opacity:0.9;
    }

    @include e('header'){
        position: relative;
        width:100%;
        box-sizing: border-box;
        @include when ('scrollable'){
            padding-right:calc(#{$fly-tab-nav-padding} * 2);
            padding-left:calc(#{$fly-tab-nav-padding} * 2);
        }
        @include when('show-list'){
            padding-right:calc(#{$fly-tab-nav-padding} * 6)
        }
    }
    @include e('left'){
        @extend .icon-pull;
        @extend .icon-hover;
        left:2px;
        background-color: #fff;
        &:after{
            content:'';
            @extend .icon-pull;
            @extend .icon-opacity;
            right:calc(#{-$fly-tab-nav-padding} / 2);
        }
    }
    @include e('right'){
        @extend .icon-pull;
        @extend .icon-hover;
        right:2px;
        background-color: #fff;
        &:before{
            content:'';
            @extend .icon-pull;
            @extend .icon-opacity;
            left:calc(#{-$fly-tab-nav-padding} / 1.2);
        }
    }
    @include e('scroll'){
        overflow: hidden;
    }
    @include e('navs'){
        white-space: nowrap;
        width:100%;
        height: calc(#{$fly-tab-nav-padding}* 2 + #{$fly-tab-nav-lineHeight});
        box-sizing: border-box;
        transition:transform 0.3s;
        border-bottom:2px solid $fly-border-color;
    }
    @include e('tab-list'){
        position: absolute;
        padding:$fly-tab-nav-padding $fly-tab-nav-padding * 2;
        line-height: $fly-tab-nav-lineHeight;
        background-color: #fff;
        box-shadow: 1px 1px 2px rgba($font-color-text,0.7);
        z-index: 99;
        border-radius: $fly-round-default-size;
    }
    @include e('content'){
        position: relative;
    }
    @include e('pane'){
        position: relative;
        padding:$fly-tab-nav-padding;
        display:none;
        @include when('active'){
            display: block;
        }
    }
    @include e('nav'){
        position: relative;
        display: inline-flex;
        height: calc(#{$fly-tab-nav-padding}* 2 + #{$fly-tab-nav-lineHeight});
        padding:$fly-tab-nav-padding;
        box-sizing: border-box;
        cursor: default;
        line-height: $fly-tab-nav-lineHeight - $fly-bottom-border-size;
        @include when('active'){
            color:$fly-primary-color;
            font-weight: 500;
            border-bottom:$fly-bottom-border-size solid $fly-primary-color;
        }
    }
}