@import "./base/index.scss";
@include b('menu'){
    display: flex;
    position: relative;
    line-height: 28px;
    
    @include e('group'){
        display: flex;
        position: relative;
    }
    @include e('item'){
        padding: 5px 15px;
        display: inline-block;
        font-weight: bold;
        font-size: 15px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border-bottom:3px solid transparent;
        cursor: pointer;
        &:hover{
            color:$warning;
            border-bottom:3px solid $warning;
        }
        @include state('active'){
            color:$warning;
            border-bottom:3px solid $warning;
        }
        @include state('has-child'){
            &:hover{
                color:inherit;
                border-bottom:3px solid transparent;
            }
        }
    }
    @include e('sub-item'){
        box-shadow:1px 1px 10px rgba(228, 234, 236, 0.5);
        background-color: #fff;
        text-align: left;
        min-width: 150px;
        .fly-menu__group{
            flex-direction:column;
        }
        .fly-menu__item{
            font-weight: initial;
            border-bottom:1px solid transparent;
            &:hover{
                color:inherit;
                border-bottom:1px solid $warning;
            }
        }
    }
}