

$fly-input-clear-area:16px !default;
$fly-input-clear-padding:10px !default;

@include b('input'){
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    .fix{
        position: absolute;
        z-index:99;
        padding:$fly-input-clear-padding;
        top:0px;
        bottom: 0px;
    }
    .adorn{
        background: $fly-color-border;
        padding:$fly-input-clear-padding;
    }
    @include e('native'){
        padding:$fly-input-clear-padding;
        outline: none;
        border:1px solid $fly-color-border;
        border-radius: $fly-round-default-size;
        box-sizing: border-box;
        &:focus{
            border-color:$fly-primary-color;
        }
        >i[class="fly-icon-"]{
            font-size:16px;
        }
        @include state("disabled"){
            color:$font-color-common;
            background: mix($fly-color-border,$white,50%);
            border-color:$font-color-placeholder;
            cursor:not-allowed;
        }
        @include state("suffix"){
            padding-right:$fly-input-clear-padding * 2 + 16px;
        }
        @include state("prefix"){
            padding-left:$fly-input-clear-padding * 2 + 16px;
        }
        @include state("prepend"){
            border-top-left-radius:0px;
            border-bottom-left-radius: 0px;
        }
        @include state("append"){
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }
    }
    @include e('clear'){
        position: absolute;
        display: block;
        z-index: 99;
        border-radius: 50%;
        width: $fly-input-clear-area;
        height: $fly-input-clear-area;
        right: $fly-input-clear-padding;
        top: $fly-input-clear-padding;
        cursor: pointer;
        font-family: 'fly-icons';
        font-style:inherit;
        color:$font-color-common;
        background-color:$fly-color-border;
        text-align: center;
        opacity: .6;
        pointer-events:all;
        &:after{
            content:'\e941'
        }
        &:hover{
            opacity: 1;
        }
    }
    @include e('prefix'){
        @extend .fix;
    }
    @include e('suffix'){
        @extend .fix;
        right:0px;
        top:0px;
    }
    @include e('prepend'){
        @extend .adorn;
    }
    @include e('append'){
        @extend .adorn;
    }
}