
@import "./base/index.scss";
@include b('table'){
    display:table;
    box-sizing:border-box;
    background-color:$fly-common-white;
    margin:0px;
    padding:0px;
    border-spacing: 0px;
    width:100%;
    @include e('th'){
        text-align: left;
        padding:rem(10px);
        box-sizing:border-box;
    }
    @include e('td'){
        text-align: left;
        padding:rem(10px);
        box-sizing:border-box;
        font-size:rem(14px)
    }
    @include e('icon-sort'){
        display: inline-flex;
        position: relative;
        width: rem(16px);
        height: rem(16px);
        vertical-align: text-bottom;
        text-align: center;
        justify-content: center;
    }
    @include e('icon'){
        font-size:rem(12px);
        cursor:pointer;
        color:$font-color-placeholder;
        display: inline-flex;
        justify-content:center;
        align-items: center;
        height:rem(10px);
        overflow: hidden;
        box-sizing: border-box;
        @include state('active'){
            color:$primary;
        }
        @include state('ascing'){
            position: absolute;
            top: rem(0px);
            z-index: 1;
            // border:1px solid #ccc;
        }
        @include state('descending'){
            position: absolute;
            bottom: rem(0px);
            z-index: 1;
            // border:1px solid #ccc;
        }
    }
    @include e('empty-text'){
        font-size:rem(12px);
        text-align:center;
        padding:rem(10px);
        box-sizing:border-box;
        line-height: rem(32px);
    }
    @include e('filter-panel'){
        background-color:$fly-common-white;
        min-height:rem(50px);
        min-width:rem(120px);
        box-shadow:rem(1px) rem(1px) rem(10px) rgba($fly-color-border,0.9);
        word-wrap: break-word;
        border-radius: $fly-round-default-size;
        position: relative;
    }
    @include e('filter-panel-item'){
        padding:rem(0px) rem(10px) rem(10px) rem(10px);
        box-sizing:border-box;
        line-height:1.1;
        cursor:pointer;
        &:first-child{
            padding:rem(10px);
        }
        &:hover{
            color:$fly-primary-hover-color;
        }
    }
    @include e('filter-panel-list'){
        display:flex;
        flex-direction:column;
        .fly-checkbox + .fly-checkbox{
            margin:rem(0px);
        }
    }
    @include e('filter-panel-buttons'){
        background-color:$fly-common-white;
        border-top:rem(1px) solid $fly-color-border;
        .fly-button{
            background: transparent;
            border:rem(0px);
        }
        .fly-button + .fly-button{
            margin:rem(0px);
        }
    }
    @include e('filter-panel-empty'){
        padding:rem(10px);
        text-align: center;
        color:$font-color-placeholder;
    }
    .fly-checkbox__label{
        padding-left:rem(0px);
    }
}