

$fly-time-line-size-normal:16px;
$fly-time-line-size-large:20px;
@include b('timeline'){
    position: relative;
    
    @include e('item'){
        position: relative;
        padding:0px 0px 20px 20px;
        border-left: 1px solid $fly-color-border;
        &:last-child{
            border-left:0px;
        }
        
    }
    @include e('dot'){
        position: absolute;
        z-index: 1;
        border-radius:100%;
        color:#fff;
        text-align: center;
        vertical-align: baseline;
        @include when('default'){
            background:rgba($fly-color-border,1);
        }
        @include when('primary'){
            background: $fly-primary-color;
        }
        @include when('warning'){
            background: $fly-warning-color;
        }
        @include when('info'){
            background: $fly-info-color;
        }
        @include when('danger'){
            background: $fly-danger-color;
        }
        @include when('success'){
            background: $fly-success-color;
        }

        @include m('normal'){
            left:-8px;
            width:$fly-time-line-size-normal;
            height:$fly-time-line-size-normal;
            i{
                font-size: $fly-time-line-size-normal - 6;
                vertical-align:baseline;
            }
        }
        @include m('large'){
            left:-10px;
            width:$fly-time-line-size-large;
            height:$fly-time-line-size-large;
            i{font-size: $fly-time-line-size-large - 2;}
        }
    }
    @include e('body'){
        
    }
    @include e('timestamp'){
        font-size:12px;
        color:rgba($font-color-common,0.5);
        @include when('top'){
           box-sizing: border-box;
           padding-bottom: 5px;
        }
    }
}