

@import "./base/index.scss";
@include b('message'){
    position: fixed;
    pointer-events:none;
    width:100%;
    background: transparent;
    text-align: center;
    top:rem(0px);
    @include e('notice'){
        margin-top: rem(10px);
    }
    @include e('content'){
        background: #fff;
        display: inline-block;
        pointer-events: all;
        padding:rem(10px) rem(30px);
        border-radius:$fly-round-default-size;
        box-shadow:rem(1px) rem(1px) rem(10px) rgba($fly-color-border,0.5);
        position: relative;
        min-width: rem(300px);
        text-align:left;
        align-items:center;
        display:inline-flex;
    }
    @include e('icon'){
        position: absolute;
        z-index: 1;
        left:rem(10px);
        top:rem(10px);
        border-radius: 100%;
        @include state('info'){
            color:$fly-primary-color;
        }
        @include state('warning'){
            color:$fly-warning-color;
        }
        @include state('success'){
            color:$fly-success-color;
        }
        @include state('error'){
            color:$fly-danger-color;
        }
    }
    @include e('close'){
        position: absolute;
        z-index: 1;
        right:rem(10px);
        top:rem(10px);
        border-radius: 100%;
        cursor: pointer;
        &:hover{
            background: rgba($fly-color-border,0.5);
        }
    }
    .fly-message-fade-enter-active {
        transition: all .2s ease;
      }
    .fly-message-fade-leave-active {
        transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .fly-message-fade-enter, .fly-message-fade-leave-to{
        transform: translateY(-100%);
        opacity: 0;
    }
}