
@import "./base/index.scss";
@include b('pagination'){
    display: block;
    position: relative;
    @include e('pager'){
        user-select: none;
        list-style: none;
        margin:rem(0px);
        padding:rem(0px);
        display: inline-table;
    }
    @include e('number'){
        display:table-cell;
        box-sizing: border-box;
        padding:rem(5px) rem(10px);
        font-weight:bold;
        background-color: #fafafa;
        &:hover{
            cursor: pointer;
            color:$fly-primary-color;
        }
        @include state('active'){
            color:$fly-primary-color;
        }
        @include state('disabled'){
            cursor:not-allowed;
            color:$font-color-placeholder;
        }
    }
    @include e('back'){
        font-size:rem(12px);
    }
    @include e('next'){
        font-size:rem(12px);
    }
}