

@include b('tag'){
    position: relative;
    border:1px solid $fly-color-border;
    padding:5px;
    border-radius:$fly-round-default-size;
    user-select: none;
    &+&{
        margin-left:10px;
    }
    @include e('close'){
        >i.fly-icon-x{
            cursor: pointer;
            &:hover{
                opacity: .7;
            }
        }
    }
    @include state('primary'){
        color:$fly-primary-color;
        background: $fly-primary-color;
        border:1px solid $fly-primary-color;
    }
    @include state('success'){
        color:$fly-success-color;
        background: $fly-success-color;
        border:1px solid $fly-success-color;
    }
    @include state('info'){
        color:$fly-info-color;
        background: $fly-info-color,;
        border:1px solid $fly-info-color;
    }
    @include state('warning'){
        color:$fly-warning-color;
        background: $fly-warning-color;
        border:1px solid $fly-warning-color;
    }
    @include state('danger'){
        color:$fly-danger-color;
        background: $fly-danger-color;
        border:1px solid $fly-danger-color;
    }
}