@import './minixs/fly-base.scss';
@import './minixs/util.scss';

@mixin button($color) {
    padding: 7px 14px;
    outline: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: $fly-round-default-size;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: bottom;
    color: $fly-common-white;
    &-large {
        padding: 10px 20px;
        font-size: $fly-font-title-size;
    }
    &-medium {
        padding: 7px 14px;
        font-size: $fly-font-text-size;
    }
    &-small {
        padding: 5px 10px;
        font-size: $fly-font-mini_text-size;
    }
    &-mini {
        padding: 3px 6px;
        font-size: $fly-font-assist_text-size;
    }
    &.fly-is-disabled {
        cursor: not-allowed;
    }
    &.fly-is-loading {
        position: relative;
        pointer-events: none;
    }
    &.fly-is-round {
        border-radius: 20px;
    }
    &.fly-is-circle {
        border-radius: 1000px;
        padding: 7px;
        line-height: 10px;
    }
}

.fly-button {
    padding: 7px 14px;
    outline: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: $fly-round-default-size;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: bottom;
    color: $fly-common-white;
    @mixin hover {
        &:hover {
            opacity: .8;
        }
    }
    &-default {
        border: 1px solid $fly-four-border-color;
        background: $fly-common-white;
        color: $font-color-common;
        @include hover()
    }
    &-large {
        padding: 10px 20px;
        font-size: $fly-font-title-size;
    }
    &-medium {
        padding: 7px 14px;
        font-size: $fly-font-text-size;
    }
    &-small {
        padding: 5px 10px;
        font-size: $fly-font-mini_text-size;
    }
    &-mini {
        padding: 3px 6px;
        font-size: $fly-font-assist_text-size;
    }
    &-primary {
        background-color: $fly-primary-color;
        @include hover()
    }
    &-warning {
        background-color: $fly-warning-color;
        @include hover()
    }
    &-danger {
        background-color: $fly-danger-color;
        @include hover()
    }
    &-success {
        background-color: $fly-success-color;
        @include hover()
    }
    &-info {
        background-color: $fly-info-color;
        @include hover()
    }
    &.fly-is-disabled {
        cursor: not-allowed;
    }
    &.fly-is-loading {
        position: relative;
        pointer-events: none;
    }
    &.fly-is-round {
        border-radius: 20px;
    }
    &.fly-is-circle {
        border-radius: 1000px;
        padding: 7px;
        line-height: 10px;
    }
}