@import './base/fly-common.scss';
@import './base/fly-util.scss';
@import './base/fly-bem.scss';

@include b('tree'){
    position: relative;
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    @include e('box'){
        position: relative;
        list-style:none;
        margin:0px;
        padding:0px;
        margin-left:16px;
        box-sizing: border-box;
    }
    @include e('node'){
        position: relative;
        box-sizing: border-box;
        box-sizing: border-box;
        padding:5px;
    }
    @include e('root'){
        padding:0px;
        margin:0px;
        border:0px;
    }
    @include e('icon'){
        cursor:pointer;
        user-select: none;
    }
}