@include b('card'){
    position: relative;
    border-radius: $fly-round-default-size;
    border:1px solid $fly-border-color;
    padding:10px;
    box-sizing: border-box;
    @include e('header'){
        border-bottom: 1px solid $fly-border-color;
        padding:$fly-default-padding;
    }
    @include e('body'){
        padding:$fly-default-padding;
    }
    @include e('footer'){
        border-top: 1px solid $fly-border-color;
        padding:$fly-default-padding;
    }
}