
@import "./base/index.scss";
@include b('rate'){
    display: inline-flex;
    vertical-align: middle;
    justify-content: center;
    line-height:rem(20px);
    @include e('item'){
        position: relative;
        color:$fly-color-border;
        display: inline-flex;
        cursor: pointer;
        & + & {
            margin-left:$fly-default-padding;
        }
        
        @include state('disabled'){
            cursor:not-allowed;
        }
        @include state('small'){
            i{font-size:10px;}
        }
        @include state('medium'){
            i{font-size:20px;}
        }
        @include state('large'){
            i{font-size:30px;}
        }
        @include state('full'){
            .fly-rate__full{
                color:$fly-warning-color;
            }
            .fly-rate__half{
                color:$fly-warning-color;
            }
        }
        @include state('half'){
            .fly-rate__half{
                color:$fly-warning-color;
            }
        }
    }
    @include e('half'){
        position: absolute;
        z-index: 2;
        left:0px;
        width:50%;
        overflow: hidden;
        font-style:inherit;
        @include state('active'){
            color:$fly-warning-color;
        }
    }
    @include e('full'){
        font-style:inherit;
        @include state('active'){
            color:$fly-warning-color;
        }
    }
    @include e('text'){
        display: inline-flex;
        margin-left:10px;
        color:$font-color-common;
    }
}