$fly-checkbox-border-radius:$fly-round-default-size !default;
$fly-checkbox-width:14px !default;
$fly-checkbox-height:14px !default;

@include b(checkbox) {
    user-select: none;
    &+& {
        margin-left: 10px;
    }
    @include e(input-native) {
        display: none;
    }
    @include e(input) {
        border: 1px solid $fly-color-border;
        width: $fly-checkbox-width;
        height: $fly-checkbox-height;
        background-color: $fly-common-white;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        font-family: 'fly-icons';
        border-radius: $fly-checkbox-border-radius;
        cursor: pointer;
        &:hover,&:focus{
            border-color:$fly-primary-color;
        }
        @include when(checked) {
            &::after {
                content: '\e917';
            }
            color:$fly-common-white;
            background: $fly-primary-color;
            border-color:$fly-primary-color;
        }
        @include when(disabled){
            color:$font-color-common;
            background:$font-color-placeholder;
            border-color:$font-color-placeholder;
            cursor:not-allowed;
        }
        @include when(indeterminate){
            &::after{
                content:'\e932'
            }
            color:$fly-common-white;
            background: $fly-primary-color;
            border-color:$fly-primary-color;
        }
    }
    @include e(label){
        @include when(disabled){
            cursor: not-allowed;
        }
    }
}