@font-face {
  font-family: 'fly-icons';
  src:  url('../fonts/fly-icons.eot?rrjf1k');
  src:  url('../fonts/fly-icons.eot?rrjf1k#iefix') format('embedded-opentype'),
    url('../fonts/fly-icons.ttf?rrjf1k') format('truetype'),
    url('../fonts/fly-icons.woff?rrjf1k') format('woff'),
    url('../fonts/fly-icons.svg?rrjf1k#fly-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fly-icon-"], [class*=" fly-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fly-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fly-icon-activity:before {
  content: "\e900";
}
.fly-icon-airplay:before {
  content: "\e901";
}
.fly-icon-alert-circle:before {
  content: "\e902";
}
.fly-icon-align-center:before {
  content: "\e903";
}
.fly-icon-align-justify:before {
  content: "\e904";
}
.fly-icon-align-left:before {
  content: "\e905";
}
.fly-icon-align-right:before {
  content: "\e906";
}
.fly-icon-anchor:before {
  content: "\e907";
}
.fly-icon-archive:before {
  content: "\e908";
}
.fly-icon-arrow-down:before {
  content: "\e909";
}
.fly-icon-arrow-left:before {
  content: "\e90a";
}
.fly-icon-arrow-right:before {
  content: "\e90b";
}
.fly-icon-arrow-up:before {
  content: "\e90c";
}
.fly-icon-at-sign:before {
  content: "\e90d";
}
.fly-icon-award:before {
  content: "\e90e";
}
.fly-icon-bar-chart:before {
  content: "\e90f";
}
.fly-icon-bar-chart-2:before {
  content: "\e910";
}
.fly-icon-battery:before {
  content: "\e911";
}
.fly-icon-battery-charging:before {
  content: "\e912";
}
.fly-icon-bell:before {
  content: "\e913";
}
.fly-icon-bell-off:before {
  content: "\e914";
}
.fly-icon-bluetooth:before {
  content: "\e915";
}
.fly-icon-bold:before {
  content: "\e916";
}
.fly-icon-check:before {
  content: "\e917";
}
.fly-icon-chevrons-down:before {
  content: "\e918";
}
.fly-icon-chevrons-left:before {
  content: "\e919";
}
.fly-icon-chevrons-right:before {
  content: "\e91a";
}
.fly-icon-chevrons-up:before {
  content: "\e91b";
}
.fly-icon-chrome:before {
  content: "\e91c";
}
.fly-icon-clock:before {
  content: "\e91d";
}
.fly-icon-cloud:before {
  content: "\e91e";
}
.fly-icon-command:before {
  content: "\e91f";
}
.fly-icon-credit-card:before {
  content: "\e920";
}
.fly-icon-dollar-sign:before {
  content: "\e921";
}
.fly-icon-file:before {
  content: "\e922";
}
.fly-icon-file-minus:before {
  content: "\e923";
}
.fly-icon-file-plus:before {
  content: "\e924";
}
.fly-icon-file-text:before {
  content: "\e925";
}
.fly-icon-flag:before {
  content: "\e926";
}
.fly-icon-folder:before {
  content: "\e927";
}
.fly-icon-folder-minus:before {
  content: "\e928";
}
.fly-icon-folder-plus:before {
  content: "\e929";
}
.fly-icon-github:before {
  content: "\e92a";
}
.fly-icon-heart:before {
  content: "\e92b";
}
.fly-icon-help-circle:before {
  content: "\e92c";
}
.fly-icon-image:before {
  content: "\e92d";
}
.fly-icon-info:before {
  content: "\e92e";
}
.fly-icon-loader:before {
  content: "\e92f";
}
.fly-icon-mail:before {
  content: "\e930";
}
.fly-icon-map-pin:before {
  content: "\e931";
}
.fly-icon-minus:before {
  content: "\e932";
}
.fly-icon-monitor:before {
  content: "\e933";
}
.fly-icon-more-horizontal:before {
  content: "\e934";
}
.fly-icon-more-vertical:before {
  content: "\e935";
}
.fly-icon-move:before {
  content: "\e936";
}
.fly-icon-paperclip:before {
  content: "\e937";
}
.fly-icon-pause:before {
  content: "\e938";
}
.fly-icon-plus:before {
  content: "\e939";
}
.fly-icon-search:before {
  content: "\e93a";
}
.fly-icon-share-2:before {
  content: "\e93b";
}
.fly-icon-sidebar:before {
  content: "\e93c";
}
.fly-icon-skip-back:before {
  content: "\e93d";
}
.fly-icon-skip-forward:before {
  content: "\e93e";
}
.fly-icon-upload-cloud:before {
  content: "\e93f";
}
.fly-icon-user:before {
  content: "\e940";
}
.fly-icon-x:before {
  content: "\e941";
}
.fly-icon-x-circle:before {
  content: "\e942";
}
