@import "./base/index.scss";

$fly-checkbox-border-radius:$fly-round-default-size !default;
$fly-checkbox-width:rem(16px) !default;
$fly-checkbox-height:rem(16px) !default;

@include b("checkbox") {
    user-select: none;
    display:inline-flex;
    box-sizing:border-box;
    line-height:1.2;
    vertical-align: middle;
    &+& {
        margin-left: rem(10px);
    }
    @include e("input-native") {
        display: none;
    }
    @include e("input") {
        border: rem(1px) solid $fly-color-border;
        width: $fly-checkbox-width;
        height: $fly-checkbox-height;
        background-color: $fly-common-white;
        box-sizing:border-box;
        position: relative;
        font-family: 'fly-icons';
        border-radius: $fly-checkbox-border-radius;
        cursor: pointer;
        &:hover,&:focus{
            border-color:$fly-primary-color;
        }
        &::after {
            content: '';
            font-size:rem(12px);
            display:block;
            position: absolute;
            z-index:1;
            top:-rem(1px);
            left:rem(1px);
        }
        @include state("checked") {
            &::after {
                content: '\e644';
            }
            font-weight: bold;
            color:$fly-common-white;
            background: $fly-primary-color;
            border-color:$fly-primary-color;
        }
        @include state("disabled"){
            color:$font-color-placeholder;
            background:$fly-color-border;
            border-color:$fly-color-border;
            cursor:not-allowed;
        }
        @include state("indeterminate"){
            &::after{
                content:'\e696'
            }
            font-weight: bold;
            color:$fly-common-white;
            background: $fly-primary-color;
            border-color:$fly-primary-color;
        }
    }
    @include e("label"){
        padding-left:$fly-default-padding;
        @include state(disabled){
            cursor: not-allowed;
        }
    }
}