
@import "./base/index.scss";
@include b('switch'){
    position: relative;
    display:inline-flex;
    vertical-align:middle;
    border:rem(1px) solid $fly-color-border;
    background: $fly-color-border;
    padding:rem(0px) rem(10px);
    box-sizing: border-box;
    border-radius: rem(100px);
    cursor: pointer;
    user-select: none;
    line-height: 1.5;
    min-width:rem(40px);
    min-height:rem(20px);
    &:after{
        content:'';
        position: absolute;
        z-index:99;
        top:rem(0px);
        bottom:rem(0px);
        width:rem(20px);
        left:rem(0px);
        right:inherit;
        background-color:#fff;
        border-radius: 50%;
    }
    @include state('checked'){
        background-color:$fly-primary-color;
        border-color:$fly-primary-color;
        &:after{
            right:rem(0px);
            left:inherit;
        }
    }
    @include state('disabled'){
        opacity: .6;
        cursor:not-allowed;
    }
    @include e('native'){
        display:none;
    }
    @include e('active'){
        color:#fff;
        display: inline-block;
        padding-right:rem(20px);
    }
    @include e('inactive'){
        padding-left:rem(20px);
        color:#fff;
        display: inline-block;
    }
}