@include b('alert'){
    position: relative;
    padding:10px;
    border-radius: $fly-round-default-size;
    @include e('close'){
        position: absolute;
        z-index: 1;
        top:$fly-default-padding;
        right:$fly-default-padding;
        border-radius: 100px;
        cursor: pointer;
    }
    @include state('success'){
        background: $fly-success-color;
        color:$fly-success-color;
    }
    @include state('warning'){
        background: $fly-warning-color;
        color:$fly-warning-color;
    }
    @include state('info'){
        background: $fly-info-color;
        color:$fly-info-color;
    }
    @include state('danger'){
        background: $fly-danger-color;
        color:$fly-danger-color;
    }
}