@import './base/fly-common.scss';
@import './base/fly-util.scss';
@import './base/fly-mixins.scss';

$fly-modal-zindex:9999999;
$fly-modal-padding:10px;

@include b('modal'){
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    z-index: $fly-modal-zindex;
    position:fixed;
    background: rgba($font-color-common,0.5);   

    .box{
        box-sizing: border-box;
        position: relative;
        background: #fff;
    }
    .cover{
        top:0px;
        right:0px;
        bottom:0px;
        left:0px;
        z-index: $fly-modal-zindex;
        position:fixed;
    }

    @include e('content'){  
        z-index: $fly-modal-zindex + 1;
        border:1px solid $fly-border-color;
        border-radius:$fly-round-default-size;
        margin:0px auto;
        margin-top: 5%;
        position: relative;
        box-shadow: 1px 1px 10px rgba($font-color-common,0.7); 
        @extend .box;
    }
    @include e('header'){
        border-bottom:1px solid $fly-border-color;
        border-top-right-radius: $fly-round-default-size;
        border-top-left-radius: $fly-round-default-size;
        padding:15px 20px;
        font-weight: 800;
    }
    @include e('close'){
        position: absolute;
        z-index: 1;
        right:10px;
        top:15px;
        width:16px;
        height:16px;
        border-radius: 100%;
        cursor: pointer;
        &:hover{
            background: rgba($fly-border-color,0.5);
        }
    }
    @include e('body'){
        padding:15px 20px;
    }
    @include e('footer'){
        padding: 10px;
        text-align:right;
        border-top:1px solid $fly-border-color;
        border-bottom-right-radius: $fly-round-default-size;
        border-bottom-left-radius: $fly-round-default-size;
    }
    @include e('icon'){
        font-size:20px !important;
        vertical-align: -10;
        color:$fly-primary-color;
    }

    @include when('confirm'){
        @include component('content'){
            box-sizing:border-box;
        }
        @include component('header'){
          border:0px;
        }
        @include component('footer'){
            border:0px;
        }
    }
    @include when('info'){
        @include component('content'){
            box-sizing:border-box;
        }
        @include component('header'){
          border:0px;
        }
        @include component('footer'){
            border:0px;
        }
        @include component('icon'){
            color:$fly-info-color;
        }
    }
    @include when('warning'){
        @include component('content'){
            box-sizing:border-box;
        }
        @include component('header'){
          border:0px;
        }
        @include component('footer'){
            border:0px;
        }
        @include component('icon'){
            color:$fly-warning-color;
        }
    }
    @include when('danger'){
        @include component('content'){
            box-sizing:border-box;
        }
        @include component('header'){
          border:0px;
        }
        @include component('footer'){
            border:0px;
        }
        @include component('icon'){
            color:$fly-danger-color;
        }
    }
    @include when('success'){
        @include component('content'){
            box-sizing:border-box;
        }
        @include component('header'){
          border:0px;
        }
        @include component('footer'){
            border:0px;
        }
        @include component('icon'){
            color:$fly-success-color;
            border:1px solid $fly-success-color;
            border-radius: 100%;
            font-size: 16px !important;
        }
    }
}