@import './base/fly-common.scss';
@import './base/fly-util.scss';
@import './base/fly-mixins.scss';

$fly-radio-border-radius:50% !default;
$fly-radio-width:16px !default;
$fly-radio-height:16px !default;
$fly-radio-point-area:5px;
$fly-radio-padding-area:5px;
@include b(radio) {
    cursor: pointer;
    user-select: none;
    &+& {
        margin-left: 10px;
    }
    @include e(input-native) {
        display: none;
    }
    @include e(input) {
        border: 1px solid $fly-border-color;
        width: $fly-radio-width;
        height: $fly-radio-height;
        background-color: $fly-common-white;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        font-family: 'fly-icons';
        border-radius: $fly-radio-border-radius;
        display: inline-block;
        &:hover,&:focus{
            border-color:$fly-primary-color;
        }
        @include when(checked) {
            &::after {
                content: '';
                width:$fly-radio-point-area;
                height:$fly-radio-point-area;
                background-color: #fff;
                position:absolute;
                border-radius: $fly-radio-border-radius;
                left:$fly-radio-padding-area;
                top:$fly-radio-padding-area;
                z-index:1;
            }
            color:$fly-common-white;
            background: $fly-primary-color;
            border-color:$fly-primary-color;
        }
        @include when(disabled){
            color:$font-color-common;
            background:$font-color-placeholder;
            border-color:$font-color-placeholder;
            cursor:not-allowed;
        }
    }
    @include e(label){
        @include when(disabled){
            cursor: not-allowed;
        }
    }
}