@import "./base/index.scss";
@mixin tag-variant($color, $backgroundColor) {
    display: inline-flex;
    margin-left: rem(5px);
    >i.fly-icon {
        cursor: pointer;
        height: rem(12px);
        width: rem(12px);
        border-radius: 50%;
        font-size:rem(12px);
        &:hover {
            background-color: $backgroundColor;
            color: $color;
        }
    }
}

@include b('tag') {
    position: relative;
    border: rem(1px) solid $fly-color-border;
    padding: rem(5px);
    font-size: rem(12px);
    border-radius: $fly-round-default-size;
    user-select: none;
    display: inline-flex;
    box-sizing: border-box;
    align-items: center;
    line-height:1.1;
    &+& {
        margin-left: rem(10px);
    }

    @include m('default') {
        color: $default;
        background: $white;
        border: rem(1px) solid $fly-color-border;

        @include modifier-element('tag', 'close') {
            @include tag-variant($white, $fly-color-border);
        }
    }

    @include m('primary') {
        color: $fly-primary-color;
        background: $fly-primary-bg-color;
        border: rem(1px) solid $fly-primary-color;

        @include modifier-element('tag', 'close') {
            @include tag-variant($fly-primary-bg-color, $fly-primary-color);
        }
    }

    @include m('success') {
        color: $fly-success-hover-color;
        background: $fly-success-bg-color;
        border: rem(1px) solid $fly-success-hover-color;

        @include modifier-element('tag', 'close') {
            @include tag-variant($fly-success-bg-color, $fly-success-color);
        }
    }

    @include m('info') {
        color: $fly-info-color;
        background: $fly-info-bg-color, ;
        border: rem(1px) solid $fly-info-color;

        @include modifier-element('tag', 'close') {
            @include tag-variant($fly-info-bg-color, $fly-info-color);
        }
    }

    @include m('warning') {
        color: $fly-warning-color;
        background: $fly-warning-bg-color;
        border: rem(1px) solid $fly-warning-color;

        @include modifier-element('tag', 'close') {
            @include tag-variant($fly-warning-bg-color, $fly-warning-color);
        }
    }

    @include m('danger') {
        color: $fly-danger-color;
        background: $fly-danger-bg-color;
        border: rem(1px) solid $fly-danger-color;

        @include modifier-element('tag', 'close') {
            @include tag-variant($fly-danger-bg-color, $fly-danger-color);
        }
    }
}