
@import "./base/index.scss";
@include b('progress'){
    position: relative;
    padding: rem(5px) rem(0px);
    box-sizing: border-box;
    width:100%;
    display:flex;
    align-items:center;
    @include e('bar'){
        position: relative;
        display: inline-block;
        width:100%;
        box-sizing: border-box;
        @include state('show-text'){
            
        }

    }
    @include e('outer'){
        position: relative;
        background: $fly-color-border;
        border-radius:rem(5px);
        display:flex;
        box-sizing: border-box;
        width:100%;
    }
    @include e('inner'){
        min-height: rem(10px);
        top: rem(0px);
        z-index: 1;
        background: $fly-primary-color;
        color:$fly-primary-color;
        transition:0.5s 0.3s all;
        &:first-child{
            border-top-left-radius:rem(5px);
            border-bottom-left-radius: rem(5px);
        }
        &:last-child{
            border-top-right-radius:rem(5px);
            border-bottom-right-radius: rem(5px);
        }
        @include m('medium'){
            min-height: rem(10px);
        }
        @include state('normal'){
            background: $fly-primary-color;
            color:$fly-primary-color;
        }
        @include state('error'){
            background: $fly-danger-color;
            color:$fly-danger-color;
        }
        @include state('success'){
            background: $fly-success-color;
            color:$fly-success-color;
        }
    }
    @include e('text'){
        margin-left:5px;
    }
    @include e('status'){
        display: inline-block;
        font-size:rem(12px);
        border-radius: 100%;
        margin-left:5px;
        i[class^="fly-icon-"]{
            font-size:rem(14px);
            display: block;
        }
        @include state('error'){
            color:$fly-danger-color;
        }
        @include state('success'){
            color:$fly-success-color;
        }
    }
    @include m('large'){
        .fly-progress__inner{
            min-height: rem(15px);
            &:first-child{
                border-top-left-radius:rem(10px);
                border-bottom-left-radius: rem(10px);
            }
            &:last-child{
                border-top-right-radius:rem(10px);
                border-bottom-right-radius: rem(10px);
            }
        }
    }
    @include m('small'){
        .fly-progress__inner{
            min-height: rem(5px);
            &:first-child{
                border-top-left-radius:rem(2.5px);
                border-bottom-left-radius: rem(2.5px);
            }
            &:last-child{
                border-top-right-radius:rem(2.5px);
                border-bottom-right-radius: rem(2.5px);
            }
        }
    }
}