/*** Parameters ***/
.flyer-combobox {
  position: relative; }
  .flyer-combobox div.keywords {
    position: absolute;
    z-index: 1;
    font-size: 0px;
    -webkit-text-size-adjust: none; }
  .flyer-combobox div.keywords > span {
    display: inline-block;
    line-height: 29px;
    height: 29px;
    color: #424242;
    padding: 0px 10px;
    font-size: 14px;
    position: relative; }
  .flyer-combobox div.keywords > span i {
    position: absolute;
    z-index: 1;
    height: 16px;
    width: 16px;
    opacity: .8;
    font-size: 14px;
    right: 0px;
    display: none;
    text-align: center; }
  .flyer-combobox div.keywords > span i:hover {
    background-color: #FF5722;
    color: #fff; }
  .flyer-combobox div.keywords > span:hover {
    background-color: #dedede;
    cursor: pointer; }
  .flyer-combobox div.keywords > span:hover > i {
    display: inherit; }
  .flyer-combobox-contents {
    border: 1px solid #dedede;
    line-height: 36px;
    height: 36px;
    vertical-align: super;
    outline: none;
    box-sizing: content-box;
    padding-right: 28px;
    position: relative;
    cursor: pointer; }
    .flyer-combobox-contents i.fa {
      height: 36px;
      line-height: 36px;
      position: absolute;
      z-index: 1;
      right: 0px;
      background-color: #fff;
      display: inline-block;
      width: 28px;
      text-align: center;
      top: 0px; }
    .flyer-combobox-contents .filter-options {
      border: 0px;
      padding: 0px 10px;
      height: 36px;
      line-height: 36px;
      vertical-align: baseline;
      font-size: 14px;
      width: 100%;
      display: inline-block;
      outline: none;
      user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      text-overflow: ellipsis;
      overflow: hidden;
      margin: 0px; }
  .flyer-combobox .open {
    display: block; }

.flyer-combobox-search {
  position: relative; }
  .flyer-combobox-search input[type="text"] {
    border: 0px;
    padding: 0px 10px;
    height: 36px;
    line-height: 36px;
    vertical-align: baseline;
    font-size: 14px;
    width: 100%;
    display: inline-block;
    outline: none;
    border-bottom: 1px solid #dedede; }
  .flyer-combobox-search i.fa {
    position: absolute;
    right: 6px;
    top: 6px;
    font-size: 12px;
    font-weight: 100;
    opacity: 0.7; }

.flyer-combobox-input {
  border: 1px solid #ccc;
  line-height: 36px;
  height: 36px;
  width: 100%;
  vertical-align: super;
  padding: 0px 10px;
  outline: none; }
  .flyer-combobox-input input[type='text'] {
    border: 0px;
    padding: 0px 10px;
    height: 36px;
    line-height: 36px;
    vertical-align: baseline;
    font-size: 14px;
    width: 100%;
    display: inline-block;
    outline: none; }

.flyer-combobox-items {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 100%;
  z-index: 99;
  border-top: 0px;
  max-height: 200px;
  overflow-y: auto; }
  .flyer-combobox-items:after {
    content: "";
    clear: both; }
  .flyer-combobox-items input[type="checkbox"] {
    margin-right: 5px; }
  .flyer-combobox-items li.selected {
    position: relative; }
  .flyer-combobox-items li.selected:after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #4ab8f9;
    z-index: 1;
    right: 5px;
    position: absolute;
    top: 8px; }

.flyer-combobox-items > ul {
  border: 1px solid #dedede;
  border-top: 0px;
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  max-height: 200px; }

.flyer-combobox-items > ul > li {
  cursor: pointer; }

.flyer-combobox-items > ul > li .disabled {
  color: #eee;
  cursor: not-allowed; }

.flyer-combobox-items > ul > li input[type='text'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  margin-top: 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #eee;
  border-width: 1px 0px 1px 0px;
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0; }

.flyer-combobox-items > ul > li > div:hover {
  background-color: #4ab8f9;
  color: #fff; }

.flyer-combobox-items > ul > li div {
  padding: 0px 10px;
  line-height: 28px; }

/*# sourceMappingURL=flyer-comboBox.css.map */
