/*** Parameters ***/
.flyer-date {
  position: absolute;
  z-index: 99;
  width: 240px;
  border: 1px solid #d2d2d2;
  font-size: 12px;
  display: none;
  color: #666666;
  background-color: #fff; }
  .flyer-date .flyer-date-body {
    margin: 5px;
    border: 1px solid #d2d2d2; }
    .flyer-date .flyer-date-body table {
      width: 100%;
      margin: 0px;
      padding: 0px; }
    .flyer-date .flyer-date-body table th,
    .flyer-date .flyer-date-body table td {
      padding: 5px 5px;
      text-align: center;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    .flyer-date .flyer-date-body table th {
      background-color: #f6f6f6;
      border-bottom: 1px solid #d2d2d2; }
    .flyer-date .flyer-date-body table td {
      cursor: pointer; }
    .flyer-date .flyer-date-body table td:hover {
      background-color: #f6f6f6; }
    .flyer-date .flyer-date-body td.flyer-today {
      background-color: #eee; }
  .flyer-date .flyer-dont-select {
    color: #dedede;
    cursor: not-allowed !important; }
  .flyer-date button {
    border: 0px;
    float: left;
    padding: 2px 5px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    background-color: #fff;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    outline: 0px;
    min-width: 20px; }
  .flyer-date button:hover {
    opacity: .8; }
  .flyer-date .flyer-date-footer,
  .flyer-date .flyer-date-header {
    margin: 5px; }
  .flyer-date .flyer-date-footer:after,
  .flyer-date .flyer-date-header:after {
    content: "";
    display: block;
    clear: both; }
  .flyer-date .flyer-date-time,
  .flyer-date .flyer-date-year {
    float: left;
    border: 1px solid #d2d2d2; }
  .flyer-date .flyer-date-btn,
  .flyer-date .flyer-date-month {
    float: right;
    border: 1px solid #d2d2d2; }
  .flyer-date .flyer-date-time {
    padding: 1px 5px;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none; }
    .flyer-date .flyer-date-time span {
      cursor: pointer; }
    .flyer-date .flyer-date-time label {
      margin-right: 5px; }
    .flyer-date .flyer-date-time .flyer-date-minutes,
    .flyer-date .flyer-date-time .flyer-date-hours,
    .flyer-date .flyer-date-time .flyer-date-seconds {
      position: absolute;
      z-index: 2;
      background-color: #fff;
      border: 1px solid #d2d2d2;
      left: 5px;
      bottom: 27px;
      right: 5px;
      display: none; }
      .flyer-date .flyer-date-time .flyer-date-minutes span,
      .flyer-date .flyer-date-time .flyer-date-hours span,
      .flyer-date .flyer-date-time .flyer-date-seconds span {
        width: 22px;
        line-height: 22px;
        text-align: center;
        height: 22px;
        cursor: pointer;
        display: block;
        float: left;
        margin: 2px 5px; }
      .flyer-date .flyer-date-time .flyer-date-minutes span:hover,
      .flyer-date .flyer-date-time .flyer-date-hours span:hover,
      .flyer-date .flyer-date-time .flyer-date-seconds span:hover {
        background-color: #f6f6f6; }
    .flyer-date .flyer-date-time .flyer-date-minTool {
      background-color: #f6f6f6;
      border-bottom: 1px solid #d2d2d2;
      height: 24px;
      text-align: center;
      line-height: 24px; }
      .flyer-date .flyer-date-time .flyer-date-minTool span {
        float: right;
        display: block; }
    .flyer-date .flyer-date-time .flyer-minutes span,
    .flyer-date .flyer-date-time .flyer-seconds span {
      width: 15px;
      line-height: 14px;
      height: 14px;
      margin: 1px 2px; }
  .flyer-date .flyer-date-year,
  .flyer-date .flyer-date-month {
    position: relative; }
    .flyer-date .flyer-date-year .prev,
    .flyer-date .flyer-date-year .next,
    .flyer-date .flyer-date-year .more,
    .flyer-date .flyer-date-month .prev,
    .flyer-date .flyer-date-month .next,
    .flyer-date .flyer-date-month .more {
      position: relative; }
    .flyer-date .flyer-date-year .prev:after,
    .flyer-date .flyer-date-year .next:after,
    .flyer-date .flyer-date-year .more:after,
    .flyer-date .flyer-date-year .next-more:after,
    .flyer-date .flyer-date-year .prev-more:after,
    .flyer-date .flyer-date-month .prev:after,
    .flyer-date .flyer-date-month .next:after,
    .flyer-date .flyer-date-month .more:after,
    .flyer-date .flyer-date-month .next-more:after,
    .flyer-date .flyer-date-month .prev-more:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 5px;
      border-style: dashed;
      border-color: transparent;
      overflow: hidden;
      cursor: pointer;
      top: 5px; }
    .flyer-date .flyer-date-year .prev:after,
    .flyer-date .flyer-date-month .prev:after {
      border-right-style: solid;
      border-right-color: #666;
      left: 2px; }
    .flyer-date .flyer-date-year .next:after,
    .flyer-date .flyer-date-month .next:after {
      border-left-style: solid;
      border-left-color: #666; }
    .flyer-date .flyer-date-year .more:after,
    .flyer-date .flyer-date-month .more:after {
      border-top-style: solid;
      border-top-color: #666;
      top: 7px; }
  .flyer-date .flyer-year,
  .flyer-date .flyer-month {
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 2px 5px;
    border: 0px;
    float: left;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    cursor: pointer;
    margin: 0px;
    padding: 2px; }
  .flyer-date .flyer-year {
    width: 51px; }
  .flyer-date .flyer-month {
    width: 30px; }
  .flyer-date .flyer-date-monthMore,
  .flyer-date .flyer-date-yearMore {
    display: none;
    position: absolute;
    z-index: 1;
    border: 1px solid #d2d2d2;
    border-top: 0px;
    background-color: #fff;
    top: 20px;
    left: -1px;
    right: -1px;
    box-sizing: border-box; }
    .flyer-date .flyer-date-monthMore span,
    .flyer-date .flyer-date-yearMore span {
      float: left;
      width: 49.44444%;
      text-align: center;
      padding: 5px;
      box-sizing: border-box;
      cursor: pointer; }
    .flyer-date .flyer-date-monthMore span:hover,
    .flyer-date .flyer-date-yearMore span:hover {
      background-color: #f8f8f8; }
    .flyer-date .flyer-date-monthMore .years:after,
    .flyer-date .flyer-date-yearMore .years:after {
      content: "";
      display: block;
      clear: both; }
    .flyer-date .flyer-date-monthMore .year span,
    .flyer-date .flyer-date-yearMore .year span {
      line-height: 20px;
      font-size: 12px; }
    .flyer-date .flyer-date-monthMore .next-more,
    .flyer-date .flyer-date-monthMore .prev-more,
    .flyer-date .flyer-date-yearMore .next-more,
    .flyer-date .flyer-date-yearMore .prev-more {
      height: 14px;
      background-color: #f6f6f6;
      position: relative;
      cursor: pointer; }
    .flyer-date .flyer-date-monthMore .next-more:hover,
    .flyer-date .flyer-date-monthMore .prev-more:hover,
    .flyer-date .flyer-date-yearMore .next-more:hover,
    .flyer-date .flyer-date-yearMore .prev-more:hover {
      opacity: .8; }
    .flyer-date .flyer-date-monthMore .next-more,
    .flyer-date .flyer-date-yearMore .next-more {
      border-top: 1px solid #d2d2d2; }
    .flyer-date .flyer-date-monthMore .prev-more,
    .flyer-date .flyer-date-yearMore .prev-more {
      border-bottom: 1px solid #d2d2d2; }
    .flyer-date .flyer-date-monthMore .next-more:after,
    .flyer-date .flyer-date-yearMore .next-more:after {
      border-top-style: solid;
      border-top-color: #666;
      left: 45%;
      top: 5px; }
    .flyer-date .flyer-date-monthMore .prev-more:after,
    .flyer-date .flyer-date-yearMore .prev-more:after {
      border-bottom-style: solid;
      border-bottom-color: #666;
      left: 45%;
      top: 0px; }
  .flyer-date .flyer-date-show {
    display: block !important; }

/*# sourceMappingURL=flyer-date.css.map */
