/*** Parameters ***/
.flyer-nav {
  padding: 0 20px;
  background-color: #000;
  width: 100%;
  height: 60px;
  list-style-type: none; }
  .flyer-nav-item {
    height: 60px;
    color: #e0e0e0;
    font-size: 14px;
    line-height: 60px;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    margin: 0 20px; }
    .flyer-nav-item a {
      display: inline-block;
      padding: 0 20px;
      box-sizing: border-box; }
    .flyer-nav-item:hover .flyer-nav-child {
      display: block; }
    .flyer-nav-item .fa {
      float: right;
      margin-top: 16px;
      margin-left: 10px;
      font-size: 18px; }
  .flyer-nav-itemd, .flyer-nav-item:hover {
    border-bottom: 4px solid #239bf6;
    background-color: #000; }
  .flyer-nav-child {
    display: none;
    position: absolute;
    left: 0;
    top: 65px;
    width: 100%;
    line-height: 36px;
    padding: 5px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
    border: 1px solid #d2d2d2;
    background-color: #fff;
    z-index: 100;
    border-radius: 2px;
    white-space: nowrap; }
    .flyer-nav-child dd {
      position: relative;
      text-align: center;
      border-bottom: 1px solid #d2d2d2; }
      .flyer-nav-child dd:last-child {
        border-bottom: none; }
      .flyer-nav-child dd:hover {
        color: #fff; }
    .flyer-nav-child a {
      color: #333; }
  .flyer-nav-tree {
    width: 200px;
    padding: 0;
    height: inherit; }
    .flyer-nav-tree .flyer-nav-item {
      border-bottom: none;
      width: 200px;
      margin: 0;
      line-height: 45px;
      height: inherit;
      position: inherit; }
      .flyer-nav-tree .flyer-nav-item .fa {
        margin-top: 10px; }
      .flyer-nav-tree .flyer-nav-item a {
        background: #393d49;
        width: 100%;
        border-left: 4px solid #393d49; }
        .flyer-nav-tree .flyer-nav-item a:hover {
          border-left: 4px solid #239bf6;
          background-color: #4E5465; }
      .flyer-nav-tree .flyer-nav-item dd {
        background-color: #333;
        border-bottom: none;
        text-align: left; }
        .flyer-nav-tree .flyer-nav-item dd a {
          border-left: none;
          color: #c2c2c2; }
          .flyer-nav-tree .flyer-nav-item dd a:hover {
            border-left: none;
            color: #fff; }
    .flyer-nav-tree .flyer-nav-child {
      display: none;
      border: none;
      padding: 0;
      position: inherit; }
    .flyer-nav-tree .flyer-nav-itemed a {
      background: #000;
      color: #f2f2f2; }
      .flyer-nav-tree .flyer-nav-itemed a:hover {
        background: #000; }
    .flyer-nav-tree .flyer-nav-itemed .fa {
      margin-top: 14px;
      transform: rotate(180deg); }
    .flyer-nav-tree .flyer-nav-itemed .flyer-nav-child {
      display: block; }
      .flyer-nav-tree .flyer-nav-itemed .flyer-nav-child a {
        background: #393d49; }
        .flyer-nav-tree .flyer-nav-itemed .flyer-nav-child a:hover {
          border-left: none;
          color: #fff; }
  .flyer-nav-side {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    z-index: 999; }
    .flyer-nav-side .flyer-nav-item {
      position: relative; }
    .flyer-nav-side .flyer-nav-child {
      top: 0; }

.flyer-breadcrumb {
  visibility: visible; }
  .flyer-breadcrumb a {
    line-height: 22px;
    font-size: 14px;
    color: #333 !important; }
    .flyer-breadcrumb a + a:before {
      color: #a6b0b7;
      content: ">\00a0";
      padding: 0 3px; }
    .flyer-breadcrumb a span {
      padding-left: 8px;
      font-family: Sim sun; }
    .flyer-breadcrumb a cite,
    .flyer-breadcrumb a span {
      color: #666;
      cursor: text;
      font-style: normal; }
    .flyer-breadcrumb a cite {
      color: #239bf6; }
  .flyer-breadcrumb.flyer-separator-line a + a:before {
    content: "-\00a0"; }
  .flyer-breadcrumb.flyer-separator-verticalLine a + a:before {
    content: "|\00a0"; }

/*# sourceMappingURL=flyer-nav.css.map */
