/*** Parameters ***/

// Colors 
$color-primary: #666;
$color-secondary: #888;
$color-light: #e0e0e0;
$color-lightest: #efefef;
$color-brand: #239bf6;
$color-black:#000;
// Brand color 
$color-facebook: #3b5998;
$color-feedly: #2bb24c;
$color-github: #333;
$color-google: #dc4e41;
$color-instagram: #3f729b;
$color-linkedin: #0077b5;
$color-medium: #00ab6b;
$color-messenger: #0084ff;
$color-rss: #f26522;
$color-spotify: #2ebd59;
$color-twitter: #55acee;
$color-orange: #F7B824;
$color-orange-opacity:rgba(247, 184, 36, 0.2);
$color-red: #FF5722;
$color-red-opacity:rgba(255, 87, 34, 0.2);
$color-green:#5FB878;
$color-green-opacity:rgba(95, 184, 120, 0.2);
$color-blueGreen:#009688;
$color-blue: #1E9FFF;
$color-blue-opacity:rgba(30, 159, 255, 0.2);
$color-blueLight:#01AAED;
$color-bgNavHover:#4E5465;
//border-color
$color-border:#eee;
$color-border-form:#e6e6e6;
//disable-color
$color-disable:#bfcbd9;
$color-disableBg:#eef1f6;
//font-color
$color-font-bace:#333;
$color-font-sub:#c2c2c2;
// Borders 
$border-light: solid 1px rgba(0, 0, 0, .05);
// Font Size 
$font-size-biggest:24px;
$font-size-largest:20px;
$font-size-large:18;
$font-size-base:14px;
$font-size-small:12px;
// Spacing 
$spacing-small: .8rem;
$spacing-single: 1rem;
$spacing-double: 2rem;
$spacing-triple: 3rem;
$spacing-big: 6rem;
// Media queries 
$desktop: 800px;
$tablet: 600px;
$mobile: 480px;
// Font Family
$sans-serif: 'Roboto',
sans-serif;
$serif: 'Playfair Display',
serif;
// Animation 
$anime-in: .3s;
$anime-out: .4s;
$opacity:.2;
$hoverOpacity:.8;
//master colors
$bgHead:#393d49;
$btnColor:#009688;
$activedColor:#5fb878;
$brightColor:#1e9fff;
$tipColor:#f7b824;
$attractColor:#ff5722;
$textBepaint:#01aaed;
$bgCommon:#2f4056;
$bgCommonLight:#4E5465;
//alert colors
$alert-color-success:#3c763d;
$alert-bg-success:#dff0d8;
$alert-bord-success:#d6e9c6;
$alert-color-info:#31708f;
$alert-bg-info:#d9edf7;
$alert-bord-info:#bce8f1;
$alert-color-warning:#8a6d3b;
$alert-bg-warning:#fcf8e3;
$alert-bord-warning:#faebcc;
$alert-color-danger:#a94442;
$alert-bg-danger:#f2dede;
$alert-bord-danger:#ebccd1;
//border color
$fb:#fbfbfb;
$f2:#f2f2f2;
$ee:#eeeeee;
$e2:#e2e2e2;
$dd:#dddddd;
$d2:#d2d2d2;
$c2:#c2c2c2;
$f6:#f6f6f6;
$f8:#f8f8f8;
$ff:#fff;
$border:1px solid $ee;
$borderRadius:2px;
$box-shadow:1px 2px 10px rgba(0, 0, 0, $opacity);
$common-padding:15px;
//height
$head-height:60px;
//width
$max-width:1280px;
$bar-width:220px;