
.hljs-name,.hljs-keyword{
    color:#7b1865;
    line-height: rem(24px);
}
.hljs-tag{
    color:#484a45;
    line-height: rem(24px);
}
.hljs-attr{
    color:#bb9609;
    line-height: rem(24px);
}
.hljs-string{
    color:#2f5b71;
    line-height: rem(24px);
}
.hljs-built_in,.hljs-selector-tag{
    color:#3d89af;
}

